<div class="sidebar cart-sidebar">
    <div class="sidebar-header">
        <h1>// Tu Carrito <strong>BubbleLover</strong> </h1> <button (click)="doCloseCart()">
            <img src="../../../../../assets/X_CARRITO.png">
        </button>
    </div>
    <div class="sidebar-container">

        <div *ngIf="!isCartEmpty()" 
        class="full-cart">
            <div class="sidebar-products" *ngFor="let product of (cartProducts$ | async)">

                <div class="sidebar-product-wrapper">
                    <div class="row">
                    <div class="col">
                        <img [src]="product.image_src">
                    </div>
                    <div class="col">

                        <h1> {{ 'BSC' }}</h1>

                        <h2>{{ product.name }} </h2>
                        <h3>{{  (product.price)*(1 - product.discount)| currency:'$':'symbol':'2.0' }}</h3>
                        <h3 class="tachado">{{ (product.price) | currency:'$':'symbol':'2.0' }}</h3>

                        <div class="ctrls-qty">

                            <span class="qty">
                                {{ getProductQuantity(product) }}
                            </span>
    
                            <button class="min" (click)="removeFromCart(product)"> <span> - </span> </button>
                            <button class="add" (click)="addToCart(product)"> <span> + </span> </button>

                            <span>eliminar</span>
    
                        </div>

                    </div>
                </div>
                <div class="border-box"></div>
                </div>
    
            </div>
        </div>
        <div *ngIf="isCartEmpty()">
            <div class="sidebar-products empty-cart">

                <img src="../../../../../assets/empty_cart.png">
                <h1>Carrito Vacio</h1>
    
            </div>
        </div>
      
      

        <div class="sidebar-progress">
            <div class="progress-wrapper">
                <div class="progress-wrapper--row">
                    <h5 class="sidebar--message" *ngIf="cartTotal < 300000">Te faltan {{ (300000 - cartTotal) | currency:'USD':'symbol' }} para que tu envio sea gratis</h5>
                    <h5 class="sidebar--message" *ngIf="cartTotal >= 300000" style="padding-left: 25px;font-weight: 900;">Yei! Tienes envio gratis!</h5>
                </div>
                <div class="progress-wrapper--row">
                    <img src="../../../../../assets/header-ad-smile.png">
                    <div class="progress-bar">
                        <div class="progress-bar--bg"></div>  
                        <div class="progress-bar--front"
                            [style.width.%]="cartPercentage"
                        ></div>  
                    </div>
                </div>
                <div class="progress-wrapper--row">
                    <h1>$0</h1>
                    <h1>$300.000</h1>
                </div>
            </div>
        </div>
        <div class="sidebar-shipping" *ngIf="cartTotal < 300000">
            <h1>COSTO DE ENVIO</h1>
            
            <input type="radio" id="shippingBogota" name="shippingMethodCart" value="Bogota">
            <label for="shippingBogota">Bogotá y Cundinamarca <strong>$7.000</strong></label>
            
            <br>
            <input type="radio" id="shippingColombia" name="shippingMethodCart" value="Colombia">
            <label for="shippingColombia">Resto del Pais <strong>$12.000</strong> </label>
            
            <br>

        </div>
        <div class="sidebar-code">
            <div class="code-wrapper">
                <input type="text" placeholder="¿Tienes un código de descuento?">
                <button style="    height: 46px;
                position: relative;
                left: -4px;">Aplicar</button>
            </div>
        </div>
        <div class="sidebar-total">
            <div class="total-wrapper">
                <h1>Total <strong>{{ cartTotal | currency:'USD':'symbol' }} </strong> + envío</h1>
                <h3>Puntos con esta compra {{ cartTotal / 100 | number: '1.0-0' }}
                </h3>
            </div>
        </div>
        <div class="sidebar-pay-btn">
            <div class="pay-btn-wrapper">
                <button>
                    Pagar
                </button>
            </div>
        </div>
    </div>
</div>
