<footer>
    <div class="wrapper">
        <div class="footer-title">
            <h1 class="section-title">Bubbles Skin Care </h1>
        </div>
        <div class="footer-menus">
            <div class="footer-menu" *ngFor="let menu of menus" [ngClass]="getMenuCssClass(menu)">
                <div class="footer-menu--title">
                    {{menu.title}}
                </div>
                
                <br>
                
                <div class="footer-menu--items">
                    <ul>
                        <li *ngFor="let item of menu.items">
                            <a href="{{ item.link }}">
                                {{ item.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>