<footer>
    <div class="wrapper">
        <div class="footer-title">
            <h1 class="section-title">Bubbles Skin Care </h1>
        </div>
        <div class="footer-menus">
            <div class="footer-menu" *ngFor="let menu of menus" [ngClass]="getMenuCssClass(menu)">
                <div class="footer-menu--title">
                    {{menu.title}}
                </div>
                
                <br>

                <div class="footer-menu--items">
                    <ul>
                        <li *ngFor="let item of menu.items">
                            <a class="link" href="{{ item.link }}">
                                {{ item.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper social">
        <img (click)="goHome()" class="logo" src="../../../../../assets/footer/BSC LOGO.png">
        
        <div class="instagram" (mouseenter) ="setInstagram_Hover() "  (mouseleave) ="resetInstagram_Hover()">
            <img *ngIf="!isInstagram_Hover"class="hover-off" src="../../../../../assets/footer/IG BLANCO.png">
            <img *ngIf="isInstagram_Hover" class="hover-on" src="../../../../../assets/footer/IG ROSADO.png">
        </div>

        <div class="linea"></div>
        
        <div class="tiktok" (mouseenter) ="setTIKTOK_Hover() "  (mouseleave) ="resetTIKTOK_Hover()">
            <img *ngIf="!isTikTok_Hover"class="hover-off" src="../../../../../assets/footer/TK BLANCO.png">
            <img *ngIf="isTikTok_Hover" class="hover-on" src="../../../../../assets/footer/TK ROSADO.png">
        </div>

        <div class="linea"></div>
        
        <div class="fb" (mouseenter) ="setFB_Hover() "  (mouseleave) ="resetFB_Hover()">
            <img *ngIf="!isFB_Hover"class="hover-off" src="../../../../../assets/footer/FB BLANCO.png">
            <img *ngIf="isFB_Hover" class="hover-on" src="../../../../../assets/footer/FB ROSADO.png">
        </div>

        <h2 class="footer-derechos">
            @ <strong> {{ year  }} BSC | Bubble Skin Care</strong> <br>
            Todos los derechos reservados
        </h2>
       
    </div>

    <div class="wrapper floating">

        <div class="floating--card wp" (mouseenter) ="setWP_Hover() "  (mouseleave) ="resetWP_Hover()">
            <img *ngIf="!isWP_Hover"class="hover-off" src="../../../../../assets/footer/WP BLANCO.png">
            <img *ngIf="isWP_Hover" class="hover-on" src="../../../../../assets/footer/WP ROSADO.png">
            <h1>
                Whatsapp
            </h1>
        </div>

        <div class="floating--card soporte">
            <h1>
                ¿ Soporte ?
            </h1>
        </div>

    </div>

    
<br>
<br>

</footer>
