<app-checkout-view #checkoutView [breadcrumbs]="breadcrumbs" [title]="title">
    <div class="checkout-view-content">
            <div class="col-1">
               
                <app-checkout-payment-form
                ></app-checkout-payment-form>

            </div>
            <div class="col-2">
                <app-checkout-details2
                    [step]="'pago'"
                    [user]="(checkoutCart$ | async)?.user"
                    [shipping]="(checkoutCart$ | async)?.shipping"
                    [products]="(checkoutCart$ | async)?.products"
                    [total]="(checkoutCart$ | async)?.total"
                    [points]="0"
                    (nContinue)="onContinue()"
            ></app-checkout-details2>  
            </div>
        </div>
</app-checkout-view>