<app-checkout-view #checkoutView [breadcrumbs]="breadcrumbs" [title]="title">
    <div class="checkout-view-content">
            <div class="col-1">
                <app-checkout-shipping-form
                    #shippingFormComponent
                    [showPrices]="!(checkoutCart$ | async)?.shipping.isFree"
                    (nChange)="onChange($event)"
                ></app-checkout-shipping-form>
                <div *ngIf="!(checkoutCart$ | async)?.products;" >
                    <h1>EMPTY CART PRODUCTS</h1>
                </div>
            </div>
            <div class="col-2">
                <app-checkout-details2
                    [step]="'envio'"
                    [user]="(checkoutCart$ | async)?.user"
                    [shipping]="(checkoutCart$ | async)?.shipping"
                    [products]="(checkoutCart$ | async)?.products"
                    [total]="(checkoutCart$ | async)?.total"
                    [points]="0"
                    (nContinue)="onContinueBtn()"
            ></app-checkout-details2>  
            </div>
        </div>
</app-checkout-view>