<div class="checkout-details">
    <div class="details-logo--wrapper" *ngIf="!isDone">
        <img src="../../../../../assets/checkout/logo.svg" alt="">
    </div>
    <div class="details-summary--wrapper">
        <ul>
            <li class="line--bordered-bottom">
                <div class="left">{{ numberProducts }} productos</div>
                <div class="right">{{ (total) | currency:'$':'symbol':'2.0' }}</div>
            </li>
            <li class="line--bordered-bottom">
                <div class="left">descuento adicional</div>
                <div class="right">no aplica</div>
            </li>
            <li class="line--bordered-bottom">
                <div class="left">envio</div>
                <div class="right" *ngIf="shippingPrice && !(total > 300000)">{{ shippingPrice | currency:'$':'symbol':'2.0' }}</div>
                <div class="right" *ngIf="!shippingPrice && (shippingStatus$ | async) === 'pending' && !(total > 300000)">por calcular</div>
                <div class="right" *ngIf="!shippingPrice && (shippingStatus$ | async) === 'free_by_coupon' && !(total > 300000)">gratis (por cupon)</div>
                <div class="right" *ngIf="!shippingPrice && (shippingStatus$ | async) === 'free_by_300k' || total > 300000">gratis</div>
            </li>
        </ul>
    </div>
    <div class="details-total--wrapper line--bordered">
        <h1 class="" *ngIf="!shippingPrice">
            Total <strong>{{ (total) | currency:'$':'symbol':'2.0' }} </strong>  <ng-container *ngIf="!(total > 300000)"> + envio</ng-container>
        </h1>
        <h1 class="" *ngIf="shippingPrice">
            Total <strong>{{ (total + shippingPrice) | currency:'$':'symbol':'2.0' }}</strong>
        </h1>
        
        <h2> 
            Puntos con esta compra: {{ (total / 1000 ) | number:'1.0-0' }}
        </h2>
    </div>


    <div class="details-next--wrapper" *ngIf="!isOrder">
        <button (click)="doContinue()" *ngIf="!isFinal">
            Continuar
        </button>
        <button (click)="doFinish()" *ngIf="isFinal" [disabled]="!enabledFinishBtn">
            Finalizar Compra
        </button>
    </div>


    <div class="details-next--wrapper" *ngIf="isOrder">
        <button style="text-align:left; width: fit-content;">
            Datos de <strong>entrega</strong>
        </button>
    </div>
    <br>
    <div class="details-shipping--wrapper" *ngIf="isOrder">
       <ul>
        <li><strong>Nombre:</strong> {{ order.user_name }} </li>
        <li><strong>Documento:</strong>  {{ order.user_nid_type}} {{ order.user_nid_number}} </li>
        <li><strong>Ciudad:</strong>  {{ order.shipping_city}}  </li>
        <li><strong>Dirección:</strong>  {{ order.shipping_address }}  </li>
        <li><strong>Teléfono:</strong>  {{ order.shipping_phone }}  </li>
       </ul>
    </div>
    <div class="details-points--wrapper" *ngIf="isOrder">
        <img src="../../../../../assets/checkout/points_icon.png">
        <h2>Puntos acumulados</h2>
        <h3>
            {{ points }} Bubble Points
        </h3>
    </div>
</div>

