@import (once) '../../../../../styles/_index.less';


.checkout-details{
    .font-default();
}

.details-summary--wrapper{
    ul{}
    li{
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        &:last-child{
            border-bottom: none;
        }
    }
    .left{}
    .rigth{}
}

.details-total--wrapper{
    text-align: center;
    h1{
        .font-size-m();
    }
    h2{
        .font-size-xs();
    }
}

.details-next--wrapper{
    padding-top: 1em;
    button{
        width: 100%;
        .font-default();
        .font-size-m();
        .font-space-large();
        padding: 10px 25px;
        border:1px solid @color-black;
        background-color: @color-blue;
    }
}

.details-shipping--wrapper{
    .font-size-xs();
    padding-bottom: 10px;
    border-bottom: 1px dotted black;
    ul{
        li{

        }
    }
}

.details-points--wrapper{
    .font-size-xs();
    position:relative;
    padding-top: 1em;
    img{
        position: absolute;
        left: -30px;
    }
    h2{}
    h3{
        font-weight: 900;
        width: fit-content;
        padding: 2px;
        background-color: #fdf3c9;
    }
}