<form *ngIf="!(orders && orders.length > 0)" class="loading">
    <img src="../../../../assets/Spin-1s-200px.gif">
</form>

<form *ngIf="orders && orders.length > 0">
    <div class="bsc-row orders">
            <p-table      
            dataKey="code"
            sortField="id"
            responsiveLayout="scroll"
            [value]="orders" 
            [sortOrder]="-1"
            [autoLayout]="true"
            [resizableColumns]="true" 
            [paginator]="true" 
            [rows]="10" 
            [globalFilterFields]="['name','email','phone','nid','points','city','address']"
            [showCurrentPageReport]="true" 
            [rowsPerPageOptions]="[10,25,50]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
            styleClass="p-datatable-gridlines p-datatable-sm" styleClass="p-datatable-gridlines p-datatable-sm" 
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon> </th>
                        <th pSortableColumn="shipping_ordered_at">OrderedAt <p-sortIcon field="shipping_ordered_at"></p-sortIcon></th>
                        <th>Status</th>
                        <th pSortableColumn="user_name">Email <p-sortIcon field="user_name"></p-sortIcon></th>
                        <th pSortableColumn="order_total">Total <p-sortIcon field="order_total"></p-sortIcon></th>
                        <th pSortableColumn="order_points">Points <p-sortIcon field="order_points"></p-sortIcon></th> 
                        <th pSortableColumn="shipping_phone">Phone <p-sortIcon field="shipping_phone"></p-sortIcon></th>
                        <th pSortableColumn="shipping_city">City <p-sortIcon field="shipping_city"></p-sortIcon></th>
                        <th pSortableColumn="shipping_address">Address <p-sortIcon field="shipping_address"></p-sortIcon></th>
                        <th pSortableColumn="payment_wompi_id"> Wompi Id <p-sortIcon field="payment_wompi_id"></p-sortIcon></th>
                        <th>Invoice (PDF)</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td >{{order.id}} </td>
                        <td >{{order.shipping_ordered_at || 'PAGO PENDIENTE'}} </td>
                        <td > 

                        <p-selectButton 
                            optionLabel="state"
                            [ngModelOptions]="{standalone: true}" 
                            [options]="statesOptions" 
                            [(ngModel)]="order.state" 
                            (onChange)="onSelectButton(order)"
                            >
                                <ng-template let-item>
                                    <i [class]="item.icon"></i>
                                </ng-template>
                        </p-selectButton>
                            <input 
                            pInputText 
                            type="text" 
                            placeholder="Ingresa Codigo de Envio" 
                            [value]="order.shipping_guide_ref || ''" 
                            [disabled]="!(order.state === 'SHIPPED' || order.state.state === 'SHIPPED')"
                            (change)="setShippingCode($event.target, order)"/>
                            <p-selectButton
                                [disabled]="!(order.state === 'SHIPPED' || order.state.state === 'SHIPPED')"
                                [ngModelOptions]="{standalone: true}" 
                                [options]="companiesOptions" 
                                [(ngModel)]="order.shipping_guide_company"
                            > <ng-template let-item>
                                <span>{{ item.name}}</span>
                            </ng-template>
                            </p-selectButton>
                            <button *ngIf="(order.state === 'SHIPPED' || order.state.state === 'SHIPPED')"
                            (click)="onSaveOnShipping(order)" pButton type="button" label="Save"></button>                             
                        </td>
                        <td >{{order.user_email }} </td>
                        <td >{{order.order_total  | currency:'$':'symbol':'2.0' }} </td>
                        <td >{{order.order_points}} </td>
                        <td >{{order.order_phone}}</td>
                        <td >{{order.shipping_city}}</td>
                        <td >{{order.shipping_address}}</td>
                        <td >{{order.payment_wompi_id}}</td>
                        <td>
                            <a [href]="getInvoicePDF(order.id)">PDF</a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
    </div>
    
    <div class="bsc-row whislist"></div>

</form>