@import (once) '../../../../../styles/_index.less';

.product-item{
    .font-default();
}



.product-item--container {

    padding-bottom: 1.5em;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    .font-default();


    &.to-end{
        width: 100%;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        
        &:nth-child(1){
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            -webkit-align-self: auto;
            -ms-flex-item-align: auto;
            align-self: auto;
        }
    }


}

.product--picture{
    position: relative;
    img{
        position: relative;
        display: block;
        width: 75px;
        height: 75px;
        object-fit: cover;
        object-position: center;
    }
    .bubble{
        bottom:-0.5em;
        right: -2em;
        position: absolute;
        background-color: white;
        color: @color-black;
        width: 4em;
        text-align: center;
        padding: 2px;
        border:1px solid @color-black;
        .font-size-xs();
        .font-bold();
    }
}

.product--name{
    display: block;
    box-sizing: border-box;
    padding:0em 1em;
    .font-size-xs();
}

.product--price{
    width: 160px;
    display: block;
    box-sizing: border-box;
    padding:0em 1em;
   
    h2{
        .font-size-xl();
        .font-bold();
    }
    h3{
        padding-top: 5px;
        .font-size-m();
        text-decoration: line-through;
    }
}


.product--delete{
    cursor: pointer;
}
