<div class ="input-wrapper" [ngClass]="{'error': isError , 'fill': (value || default) && !isError} ">
    <input type="password"  *ngIf="default" 
    (keyup)="onChange($event)" 
    (keypress)="onChange($event)" 
    (change)="onChange($event)" 
    [value]="default"
    [placeholder]="placeholder">
    <input type="password"   *ngIf="!default" 
    (keyup)="onChange($event)" 
    (keypress)="onChange($event)" 
    (change)="onChange($event)" 
    [placeholder]="placeholder">
    <span>{{ errorMsg }}</span>
</div>