@import (once) '../input-text-basic/input-text-basic.component.less';


.input-wrapper select{
    width: 100%;
    border: none;
    margin: 0px;
    padding-top: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    .font-space-large();
}

.input-wrapper select *{
    display: block;
    width: 100% !important;
    border-radius: 0px !important;
    padding: 15px !important;
    box-sizing: border-box;
}

.input-wrapper.fill{
    border:1px solid @color-black;
    select{
        color: @color-black;
    }
}

.input-wrapper .error{
    border:1px solid @color-black;
    input{
        color: @color-black;
    }
}

.input-wrapper select option{

}