<div class="page product-page">

    <div class="page-header">
        <app-header-ad></app-header-ad>
        <app-header-default></app-header-default>
    </div>

    <div class="page-sidebar" [ngClass]="{'active': (isCartOpen$ | async) }">
        <app-cart-sidebar *ngIf="(isCartOpen$ | async)"></app-cart-sidebar>
        <app-profile-sidebar *ngIf="false"></app-profile-sidebar>
        <app-search-sidebar *ngIf="false"></app-search-sidebar>
    </div>

    <div class="page-container">

        <br>
        <br>
        <section class="section--breadcumbs" *ngIf="product">
            <ul>
                <li *ngFor="let breadcumb of breadcumbs">
                    <a class="font--helvetica-medium" [routerLink]="breadcumb.path">{{ breadcumb.text }}</a>
                </li>
            </ul>
        </section>

        <section class="section--product-info" *ngIf="product">
           <div class="section-row">
               <div class="section-col col-gallery">
                   <div class="gallery-col col-thumbs">
                       <img class="thumb" [ngClass]="{'active': activeThumb === 0}" [src]="product.image_src" (click)="setThumb(0)">
                       <img class="thumb" [ngClass]="{'active': activeThumb === 1}"[src]="product.image_src" (click)="setThumb(1)">
                       <img class="thumb" [ngClass]="{'active': activeThumb === 2}"[src]="product.image_src" (click)="setThumb(2)">
                       <img class="thumb" [ngClass]="{'active': activeThumb === 3}" [src]="product.image_src" (click)="setThumb(3)">
                   </div>
                   <div class="gallery-col col-picture"  [ngClass]="{'inWishlist': (inWishlist$ | async),'inCartlist': (cartlist$ | async) > 0}">

                       <div class="picture-wrapper">

                           <div class="picture-back"></div>

                           <div class="picture-front">
                                <img class="picture"  [src]="product.image_src">
                                <div class="card-fav" *ngIf="(inWishlist$ | async)">
                                

                                    <div class="card-wishlist" >
                                        <div class="card-wishlist--wrapper anim-hover" (click)="toogleToWishlist()">
                                            <img class="anim-hover--on-hover" src=".../../../../../assets/heart.png">
                                            <img class="anim-hover--off-hover" src=".../../../../../assets/heart_gray.png">
                                        </div>
                                    </div>
    
    
                               </div>
                            </div>
                           <div class="card-discount">
                            -{{ (product.discount) * 100 | number }}%
                           </div>

                        

                       </div>
                       
                   </div>
               </div>
               <div class="section-col col-info">
                   <div class="info-row">
                       <img>
                   </div>
                   <div class="info-row row-title">
                       <h1 class="font--helvetica-medium">
                          {{ product.name }}
                       </h1>
                   </div>
                   <div class="info-row row-price">
                        <h2> 

                            <strong *ngIf="product.discount" class="discount">
                                 {{ ((product.price) | currency:'$':'symbol':'2.0') }} <br>
                            </strong> 

                            <strong *ngIf="product.discount">
                                {{ ((product.price || 0)*(1 - (product.discount || 0)) | currency:'$':'symbol':'2.0') }}
                           </strong> 

                           <strong *ngIf="!product.discount">
                            {{ ((product.price || 0)*(1 - (product.discount || 0)) | currency:'$':'symbol':'2.0') }}
                            </strong> 

                        </h2>
                        <h2 class="sizes"> // 3.5ml 1.18 fl.oz </h2>
                    </div>
                    <div class="info-row row-buttons">

                            <app-add-minus-button
                                style="padding-right: 10px;"
                                *ngIf="( cartlist$ | async) > 0"
                                (onMin)="removeFromCart2()"
                                (onMax)="addToCart2()"
                                [value]="(cartlist$ | async)"
                            ></app-add-minus-button>

                        <div>

                            <div style="padding-bottom: 0.5em;">
                        
                                <app-dark-button
                                    *ngIf="( cartlist$ | async) === 0"
                                    [icon]="'cart:icon'"
                                    [text]="'¡Lo quiero!'"
                                    (nClick)="addToCart2()"
                                ></app-dark-button>

                                <app-pink-button
                                    *ngIf="( cartlist$ | async) > 0"
                                    [text]="'¡Agregado!'"
                                    [icon]="'cart:face:white'"
                                    [hover_text]="'¡Eliminar!'"
                                    [hover_icon]="'cart:face:gray'"
                                    (nClick)="removeAllFromCart()"
                                ></app-pink-button>
                            </div>

                            <app-fav-button
                                [product]="product"
                                (nClick)="toogleToWishlist()"
                            ></app-fav-button>

                        </div>
                    </div>
                    <div class="info-row row-tabs" [ngClass]="{'fixH': maxIngredientSize === MAX_INGREDIENTS_SIZE}">
                        <div class="tabs-header">
                            <div class="tab-header" (click)="setTab('description')" [ngClass]="{'active': tab === 'description'}">
                                Descripción
                            </div>
                            <div class="tab-header" (click)="setTab('ingredients')" [ngClass]="{'active': tab === 'ingredients'}">
                                Ingredientes
                            </div>
                            <div class="tab-header" (click)="setTab('how-to')" [ngClass]="{'active': tab === 'how-to'}">
                                ¿Cómo se usa?
                            </div>
                        </div>
                        <div class="tabs-content">
                            <div class="tab-content" *ngIf="tab === 'description'">
                                <p class="product-description" *ngIf="product.description"> <strong>Soy antes de la coma</strong>, {{ product.description }}</p> 
                            </div>
                            <div class="tab-content" *ngIf="tab === 'ingredients'">
                                <p class="product-ingredients">
                                    {{ product.ingredients | slice: 0: maxIngredientSize }}
                                    <span *ngIf="maxIngredientSize === MAX_INGREDIENTS_SIZE">...</span>
                                </p>
                                <span class="ver-mas" (click)="toogleVerMas()" *ngIf="maxIngredientSize === MAX_INGREDIENTS_SIZE">Ver más</span>
                                <span class="ver-mas" (click)="toogleVerMas()" *ngIf="maxIngredientSize > MAX_INGREDIENTS_SIZE">Ver menos</span>
                            </div>
                            <div class="tab-content" *ngIf="tab === 'how-to'">
                                <h4 class="product-how-to-h4"> <a [routerLink]="'/paso/7'">Paso 7: Serum</a> </h4>
                                <p class="product-how-to-p">Serum antioxidante, diseñado con ingredientes naturalmente efectivos que son seguros y no irritantes. Además, energiza y rejuvenece la piel con el poder de la Vitamina C pura al 5%, lo suficientemente suave y eficaz para todos los tipos</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-row row-icons">

                        <div class="icon icon-skin" *ngFor="let category of sortBy(product.categories | keyvalue) ">
                            
                            <div class="icon-wrapper">
                                <div class="icon-img">
                                    <img class="icon-hv" src="{{ category.value.src_hv }}">
                                    <img class="icon-no-hv" src="{{ category.value.src }}">
                                </div>
                                <h2> {{ category.value.title  }}</h2>
                            </div>

                        </div>

                    </div>
               </div>
           </div>
        </section>

        <section class="section--recommended">
           
        </section>

    </div>

    <div class="page-footer">
        <app-footer-default></app-footer-default>
    </div>

</div>