<div class="button" (click)="doClick()">

    <h5> {{ text }} </h5>
    
    <div class="hvr" *ngIf="icon === 'cart:icon' ">
        <img class="on-hvr" src="../../../../../assets/5_BSC.png">
        <img class="off-hvr" src="../../../../../assets/Carro de compra_blanco50.png">
    </div>

    <div class="hvr" *ngIf="icon === 'user:smile' ">
        <img class="on-hvr" src="../../../../../assets/5_BSC.png">
        <img class="off-hvr" src="../../../../../assets/Carro de compra_blanco50.png">
    </div>

</div>
