<div class="checkout-user-form">
    <app-tabView>

            <app-tabPanel title="Crear Cuenta">
                <app-form-basic 
                    [formFields]="userFormFields" 
                    [formSubmit]="userFormSubmitSignUp"
                    (nSubmit)="doSignUp()"
                    (nChange)="setUserFormField($event)">
                </app-form-basic>
            </app-tabPanel>
           
            <app-tabPanel title="Iniciar Sesión">
                <app-form-basic 
                [formFields]=" userLoginFormFields"
                [formSubmit]="userFormSubmitSignIn" 
                (nSubmit)="doSignIn()"
                (nChange)="setUserLoginFormFields($event)">
            </app-form-basic>
            </app-tabPanel>

    </app-tabView>
</div>