<app-checkout-view [title]="title">
    <div class="checkout-view-content">
            <div class="col-1">
                THIS IS FINISH
                <div *ngIf="!(checkoutCart$ | async)?.products;" >
                    <h1>EMPTY CART PRODUCTS</h1>
                </div>
            </div>
            <div class="col-2">
                <app-checkout-details2
                    [step]="'carrito'"
                    [user]="(checkoutCart$ | async)?.user"
                    [shipping]="(checkoutCart$ | async)?.shipping"
                    [products]="(checkoutCart$ | async)?.products"
                    [total]="(checkoutCart$ | async)?.total"
                    [points]="0"
                    (nContinue)="onContinue()"
            ></app-checkout-details2>  
            </div>
        </div>
</app-checkout-view>