<header class="header-nav">
    <ul class="header-nav--row">
        <li>
            <img class="bsc-waves" src="../../../../../assets/header-waves.png">
        </li>
        <li style="
        position: relative;
left: 45px;">
            <ul class="header-nav--menu">
                <li class="menu-wrapper">
                    <div class="menu-title"> <span>RUTINA</span></div>
                    <ul class="menu-items">
                        <li>PRODUCT 1</li>
                        <li>PRODUCT 2</li>
                        <li>PRODUCT 3</li>
                        <li>PRODUCT 4</li>
                    </ul>
                </li>
                <li class="menu-wrapper">
                    <div class="menu-title"> <span>TIPO DE PIEL</span></div>
                    <ul class="menu-items">
                        <li>PRODUCT 1</li>
                        <li>PRODUCT 2</li>
                        <li>PRODUCT 3</li>
                        <li>PRODUCT 4</li>
                    </ul>
                </li>
                <li class="menu-wrapper">
                    <div class="menu-title"> <span>NECESIDADES</span> </div>
                    <ul class="menu-items">
                        <li>PRODUCT 1</li>
                        <li>PRODUCT 2</li>
                        <li>PRODUCT 3</li>
                        <li>PRODUCT 4</li>
                    </ul>
                </li>
                <li class="menu-wrapper">
                    <div class="menu-title"> <span>MARCAS</span> </div>
                    <ul class="menu-items">
                        <li>PRODUCT 1</li>
                        <li>PRODUCT 2</li>
                        <li>PRODUCT 3</li>
                        <li>PRODUCT 4</li>
                    </ul>
                </li>
                <li class="menu-wrapper">
                    <div class="menu-title"><span>PUNTOS BSC</span></div>
                    <ul class="menu-items">
                        <li>PRODUCT 1</li>
                        <li>PRODUCT 2</li>
                        <li>PRODUCT 3</li>
                        <li>PRODUCT 4</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li style="

               -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        
        ">
            <ul class="heaver-icons-row" style="width: 100%;">
                <li><img class="bsc-logo" src="../../../../../assets/header-bsc.png" (click)="goHome()"></li>
                <li class="bsc-icon anim-hover" (click)="doOpenSearchSidebar()">
                    <img class="anim-hover--on-hover" src="../../../../../assets/header-icon-lupa--hover.jpg">
                    <img class="anim-hover--off-hover" src="../../../../../assets/header-icon-lupa.png">
                </li>
                <li class="bsc-icon anim-hover" (click)="doOpenProfileSidebar()">
                    <img class="anim-hover--on-hover" src="../../../../../assets/header-icon-persona--hover.jpg">
                    <img class="anim-hover--off-hover" src="../../../../../assets/header-icon-persona.png">
                </li>

                <li class="bsc-icon anim-hover" (click)="doOpenCartSidebar()">
                    <img class="anim-hover--on-hover" src="../../../../../assets/header-icon-cart--hover.jpg">
                    <img class="anim-hover--off-hover" src="../../../../../assets/header-icon-cart.png">
                    <div class="notification-label" *ngIf="(cartSize$ | async)">
                        <span>{{ (cartSize$ | async) }}</span>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</header>